.h1-title {
  font-size: 8.25rem;
  line-height: 6.5rem;
}

.main {
  display: flex;
  min-width: 61.6232rem;
  gap: 8.36rem;
}

.main-content {
  max-width: 32 rem;
}

/* .hero-image {
  width: 20.125rem;
  height: 30.0625rem;
} */

.hero-image img {
  max-width: 100%;
}