.h1-title {
  font-size: 8.25rem;
  line-height: 7.5rem;
  margin-top: 7.146875rem;
}

.logo-container img {
  max-width: 100%;
}

.drop-align-left {
  margin-left: -4%;
}

.main {
  display: flex;
  min-width: 61.6232rem;
  gap: 8.36rem;
  margin-bottom: 6rem;
}

.main-content {
  max-width: 32 rem;
}

.hero-image img {
  max-width: 100%;
}

.clients-box img {
  max-width: 100%;
}

.show-menu {
  display: block;
}